
# Testing
pytest
pytest-cov
pytest-mock
testcontainers
coverage

# Linting and formatting
ruff
isort

# Utilities for testing or development
Pygments
colorlog

# Pytest-related internals
iniconfig
pluggy
